default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      base_url: "$DRUPAL_TI_WEBSERVER_URL:$DRUPAL_TI_WEBSERVER_PORT/"
      files_path: "$DRUPAL_TI_DRUPAL_DIR"
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      drupal:
        drupal_root: "$DRUPAL_TI_DRUPAL_DIR"
      drush_driver: 'drush'
      drush:
        root: "$DRUPAL_TI_DRUPAL_DIR"
      region_map:
        primary tabs: "ul.tabs.primary"
        secondary tabs: "ul.tabs.secondary"
